.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  #login-card{
    width: 40%;
    min-width: 300px;
    max-width: 400px;
  }

  .card-2fa{
    height: 400px;
    min-width: 350px;
  }